VITE_FIREBASE_API_KEY = AAA
VITE_FIREBASE_AUTH_DOMAIN = AAA
VITE_FIREBASE_PROJECT_ID = AAA
VITE_FIREBASE_STORAGE_BUCKET = AAA
VITE_FIREBASE_MESSAGING_SENDER_ID = 000000000000
VITE_FIREBASE_APP_ID = AAA